@keyframes rotate-0 {
  0% {
    transform: rotateZ(0deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-0 {
  0% {
    -webkit-transform: rotateZ(0deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-1 {
  0% {
    transform: rotateZ(6deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-1 {
  0% {
    -webkit-transform: rotateZ(6deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-2 {
  0% {
    transform: rotateZ(12deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-2 {
  0% {
    -webkit-transform: rotateZ(12deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-3 {
  0% {
    transform: rotateZ(18deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-3 {
  0% {
    -webkit-transform: rotateZ(18deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-4 {
  0% {
    transform: rotateZ(24deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-4 {
  0% {
    -webkit-transform: rotateZ(24deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-5 {
  0% {
    transform: rotateZ(30deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-5 {
  0% {
    -webkit-transform: rotateZ(30deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-6 {
  0% {
    transform: rotateZ(36deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-6 {
  0% {
    -webkit-transform: rotateZ(36deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-7 {
  0% {
    transform: rotateZ(42deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-7 {
  0% {
    -webkit-transform: rotateZ(42deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-8 {
  0% {
    transform: rotateZ(48deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-8 {
  0% {
    -webkit-transform: rotateZ(48deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-9 {
  0% {
    transform: rotateZ(54deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-9 {
  0% {
    -webkit-transform: rotateZ(54deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-10 {
  0% {
    transform: rotateZ(60deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-10 {
  0% {
    -webkit-transform: rotateZ(60deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-11 {
  0% {
    transform: rotateZ(66deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-11 {
  0% {
    -webkit-transform: rotateZ(66deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-12 {
  0% {
    transform: rotateZ(72deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-12 {
  0% {
    -webkit-transform: rotateZ(72deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-13 {
  0% {
    transform: rotateZ(78deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-13 {
  0% {
    -webkit-transform: rotateZ(78deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-14 {
  0% {
    transform: rotateZ(84deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-14 {
  0% {
    -webkit-transform: rotateZ(84deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-15 {
  0% {
    transform: rotateZ(90deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-15 {
  0% {
    -webkit-transform: rotateZ(90deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-16 {
  0% {
    transform: rotateZ(96deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-16 {
  0% {
    -webkit-transform: rotateZ(96deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-17 {
  0% {
    transform: rotateZ(102deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-17 {
  0% {
    -webkit-transform: rotateZ(102deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-18 {
  0% {
    transform: rotateZ(108deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-18 {
  0% {
    -webkit-transform: rotateZ(108deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-19 {
  0% {
    transform: rotateZ(114deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-19 {
  0% {
    -webkit-transform: rotateZ(114deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-20 {
  0% {
    transform: rotateZ(120deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-20 {
  0% {
    -webkit-transform: rotateZ(120deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-21 {
  0% {
    transform: rotateZ(126deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-21 {
  0% {
    -webkit-transform: rotateZ(126deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-22 {
  0% {
    transform: rotateZ(132deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-22 {
  0% {
    -webkit-transform: rotateZ(132deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-23 {
  0% {
    transform: rotateZ(138deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-23 {
  0% {
    -webkit-transform: rotateZ(138deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-24 {
  0% {
    transform: rotateZ(144deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-24 {
  0% {
    -webkit-transform: rotateZ(144deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-25 {
  0% {
    transform: rotateZ(150deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-25 {
  0% {
    -webkit-transform: rotateZ(150deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-26 {
  0% {
    transform: rotateZ(156deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-26 {
  0% {
    -webkit-transform: rotateZ(156deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-27 {
  0% {
    transform: rotateZ(162deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-27 {
  0% {
    -webkit-transform: rotateZ(162deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-28 {
  0% {
    transform: rotateZ(168deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-28 {
  0% {
    -webkit-transform: rotateZ(168deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-29 {
  0% {
    transform: rotateZ(174deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-29 {
  0% {
    -webkit-transform: rotateZ(174deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-30 {
  0% {
    transform: rotateZ(180deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-30 {
  0% {
    -webkit-transform: rotateZ(180deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-31 {
  0% {
    transform: rotateZ(186deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-31 {
  0% {
    -webkit-transform: rotateZ(186deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-32 {
  0% {
    transform: rotateZ(192deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-32 {
  0% {
    -webkit-transform: rotateZ(192deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-33 {
  0% {
    transform: rotateZ(198deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-33 {
  0% {
    -webkit-transform: rotateZ(198deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-34 {
  0% {
    transform: rotateZ(204deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-34 {
  0% {
    -webkit-transform: rotateZ(204deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-35 {
  0% {
    transform: rotateZ(210deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-35 {
  0% {
    -webkit-transform: rotateZ(210deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-36 {
  0% {
    transform: rotateZ(216deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-36 {
  0% {
    -webkit-transform: rotateZ(216deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-37 {
  0% {
    transform: rotateZ(222deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-37 {
  0% {
    -webkit-transform: rotateZ(222deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-38 {
  0% {
    transform: rotateZ(228deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-38 {
  0% {
    -webkit-transform: rotateZ(228deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-39 {
  0% {
    transform: rotateZ(234deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-39 {
  0% {
    -webkit-transform: rotateZ(234deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-40 {
  0% {
    transform: rotateZ(240deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-40 {
  0% {
    -webkit-transform: rotateZ(240deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-41 {
  0% {
    transform: rotateZ(246deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-41 {
  0% {
    -webkit-transform: rotateZ(246deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-42 {
  0% {
    transform: rotateZ(252deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-42 {
  0% {
    -webkit-transform: rotateZ(252deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-43 {
  0% {
    transform: rotateZ(258deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-43 {
  0% {
    -webkit-transform: rotateZ(258deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-44 {
  0% {
    transform: rotateZ(264deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-44 {
  0% {
    -webkit-transform: rotateZ(264deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-45 {
  0% {
    transform: rotateZ(270deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-45 {
  0% {
    -webkit-transform: rotateZ(270deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-46 {
  0% {
    transform: rotateZ(276deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-46 {
  0% {
    -webkit-transform: rotateZ(276deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-47 {
  0% {
    transform: rotateZ(282deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-47 {
  0% {
    -webkit-transform: rotateZ(282deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-48 {
  0% {
    transform: rotateZ(288deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-48 {
  0% {
    -webkit-transform: rotateZ(288deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-49 {
  0% {
    transform: rotateZ(294deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-49 {
  0% {
    -webkit-transform: rotateZ(294deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-50 {
  0% {
    transform: rotateZ(300deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-50 {
  0% {
    -webkit-transform: rotateZ(300deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-51 {
  0% {
    transform: rotateZ(306deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-51 {
  0% {
    -webkit-transform: rotateZ(306deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-52 {
  0% {
    transform: rotateZ(312deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-52 {
  0% {
    -webkit-transform: rotateZ(312deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-53 {
  0% {
    transform: rotateZ(318deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-53 {
  0% {
    -webkit-transform: rotateZ(318deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-54 {
  0% {
    transform: rotateZ(324deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-54 {
  0% {
    -webkit-transform: rotateZ(324deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-55 {
  0% {
    transform: rotateZ(330deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-55 {
  0% {
    -webkit-transform: rotateZ(330deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-56 {
  0% {
    transform: rotateZ(336deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-56 {
  0% {
    -webkit-transform: rotateZ(336deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-57 {
  0% {
    transform: rotateZ(342deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-57 {
  0% {
    -webkit-transform: rotateZ(342deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-58 {
  0% {
    transform: rotateZ(348deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-58 {
  0% {
    -webkit-transform: rotateZ(348deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }
@keyframes rotate-59 {
  0% {
    transform: rotateZ(354deg); }
  98.5% {
    transform: rotateZ(1turn); }
  100% {
    transform: rotateZ(1turn); } }
@-webkit-keyframes rotate-59 {
  0% {
    -webkit-transform: rotateZ(354deg); }
  98.5% {
    -webkit-transform: rotateZ(1turn); }
  100% {
    -webkit-transform: rotateZ(1turn); } }

/*# sourceMappingURL=keyframes.css.map */
